{% extends "@Client/template/two-columns.html.twig" %}

{% block left_content %}
    <div class="homepage-content">
        <div class="main">
            <div class="citation">
                <span>{{ 'app.page.client.home.citation'|trans }}</span>
            </div>

            <div class="description">
                <p>
                    {{ 'app.page.client.home.description'|trans }}
                    <a href="#">{{ 'app.page.client.home.more'|trans }}</a>
                </p>
            </div>

            <div class="button-wrapper">
                <input type="button" class="blue" value="{{ 'app.page.client.home.buttons.participate'|trans }}" />
                <input type="button" class="red" value="{{ 'app.page.client.home.buttons.create'|trans }}" />
            </div>
        </div>

        <div class="sub">
            <div class="social-links">

            </div>
        </div>
    </div>
{% endblock  %}

{% block right_content %}
    <img src="{{ asset('build/images/background-homepage.jpg') }}" />
{% endblock %}