{{ form_start(edit_form) }}
{{ form_widget(edit_form) }}
<button type="submit">envoyer</button>
{{ form_end(edit_form) }}
{{ form_start(delete_form) }}
{{ form_widget(delete_form) }}
<button type="submit">del</button>
{{ form_end(delete_form) }}