{% extends "@Client/template/two-columns.html.twig" %}

{% block left_content %}
    <div class="forgotten-password-content">
        <div class="main">
            <div class="title">
                <span>{{ 'app.page.client.connection.forgotten_password'|trans }}</span>
            </div>

            <div class="form-container">
                {% if message %}
                    <div class="{{ type }}" role="alert">{{ message}}</div>
                {% endif %}
                {{ form_start(form) }}
                    <div class="input-wrapper">
                        <div class="input-placeholder-effect">
                            {{ form_widget(form.email, { 'attr': {'placeholder': 'app.page.client.user.inputs.email'|trans } })}}
                            <span>{{ 'app.page.client.user.inputs.email'|trans }}</span>
                            <div class="before-border"></div>
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="blue" value="{{ 'app.page.client.forgotten_password.button'|trans }}" />
                            </div>

                            <div class="col-md-6">
                                <a href="{{ path('login') }}" class="red">{{ 'app.page.client.forgotten_password.cancel'|trans }}</a>
                            </div>
                        </div>
                    </div>

                    {{ form_widget(form) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock  %}

{% block right_content %}
    <img src="{{ asset('build/images/connexion.png') }}" />
{% endblock %}