<header class="{{ app.session.get('headerBackground') }}">
    <div class="header-container">
        <div class="menu-desktop">
            <div class="left">
                <div class="content">
                    <div class="menuBurger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <a href="{{ path('homepage') }}" class="title">{{ 'app.name'|trans }}</a>
                </div>
            </div>
            <div class="right{% if app.user %} connect{% if is_granted('ROLE_ADMIN') %} admin{% endif %}{% endif %}">
                <a href="{{ path('login') }}" >{{ 'app.layout.header.connection'|trans }}</a>

                {% if app.user %}

                    <div class="containerImg">
                        <div class="content">
                            <div class="imgBlockConnect">
                                <div class="hexagon"></div>
                                <div class="imageProfil">
                                    <img src="{{ asset(app.user.picture ? 'uploads/user/profilePicture/' ~ app.user.picture : 'build/images/user.png') }}" alt="profil picture">
                                </div>
                            </div>

                            <p>{{ app.user.firstname ~ ' ' ~ app.user.lastname }}</p>
                        </div>
                    </div>

                    <div class="menuUser">
                        <div class="top">
                            <p>{{ app.user.firstname ~ ' ' ~ app.user.lastname }}</p>
                            <p>{{ app.user.email }}</p>
                        </div>

                        <div class="bottom">
                            <a href="{{ path('account_user_edit') }}">Mon profil</a>
                            <a href="{{ path('account_show_created_projects') }}">Mes projets</a>
                            <a href="{{ path('logout') }}">Déconnexion</a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="menuComplet">
                <div class="containerMenu">
                    <ul>
                        <li><a href="{{ path('homepage') }}">{{ 'app.layout.menu.onglets.home'|trans }}</a></li>
                        <li><a href="{{ path('project_index') }}">{{ 'app.layout.menu.onglets.listing_projects'|trans }}</a></li>
                        <li><a href="{{ path('project_location') }}">{{ 'app.layout.menu.onglets.near_projects'|trans }}</a></li>
                        <li><a href="{{ path('about') }}">{{ 'app.layout.menu.onglets.about'|trans }}</a></li>
                        <li><a href="http://www.paris2024.org/fr">{{ 'app.layout.menu.onglets.paris_2024'|trans }}</a></li>
                    </ul>

                    <div class="social">
                        <div>
                            <span><a href="https://www.facebook.com/Paris2024/"><i class="fab fa-facebook-f"></i></a></span>
                            <span><a href="https://www.linkedin.com/company/paris-2024-olympic-and-paralympic-games-bid/?originalSubdomain=fr"><i class="fab fa-linkedin-in"></i></a></span>
                            <span><a href="https://twitter.com/paris2024"><i class="fab fa-twitter"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-mobile">
            <div class="menuBurger">
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="titreMenu">
                    <p class="menu">Menu</p>
                    <p class="filtres">Filtres</p>
                </div>
            </div>

            <div>
                <a href="{{ path('homepage') }}" class="title">{{ 'app.name'|trans }}</a>
            </div>

            <div class="right">
                <div class="user{% if app.user %} connect{% if is_granted('ROLE_ADMIN') %} admin{% endif %}{% endif %}">
                    <i class="fas fa-user"></i>

                    {% if app.user %}
                        <div class="imageProfil">
                            <img src="{{ asset(app.user.picture ? 'uploads/user/profilePicture/' ~ app.user.picture : 'build/images/user.png') }}" alt="profil picture">
                        </div>

                        <div class="menuUser">
                            <div class="top">
                                <p>{{ app.user.firstname ~ ' ' ~ app.user.lastname }}</p>
                                <p>{{ app.user.email }}</p>
                            </div>

                            <div class="bottom">
                                <a href="{{ path('account_user_edit') }}">Mon profil</a>
                                <a href="{{ path('account_show_created_projects') }}">Mes projets</a>
                                <a href="{{ path('logout') }}">Déconnexion</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="menuComplet">
                <div class="containerMenu">
                    <ul>
                        <li><a href="{{ path('homepage') }}">{{ 'app.layout.menu.onglets.home'|trans }}</a></li>
                        <li><a href="{{ path('project_index') }}">{{ 'app.layout.menu.onglets.listing_projects'|trans }}</a></li>
                        <li><a href="{{ path('project_location') }}">{{ 'app.layout.menu.onglets.near_projects'|trans }}</a></li>
                        <li><a href="{{ path('about') }}">{{ 'app.layout.menu.onglets.about'|trans }}</a></li>
                        <li><a href="http://www.paris2024.org/fr">{{ 'app.layout.menu.onglets.paris_2024'|trans }}</a></li>
                    </ul>

                    <div class="social">
                        <div>
                            <span><a href="#"><i class="fab fa-facebook-f"></i></a></span>
                            <span><a href="#"><i class="fab fa-linkedin-in"></i></a></span>
                            <span><a href="#"><i class="fab fa-twitter"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>