{% extends "@Client/template/two-columns.html.twig" %}
{% form_theme form 'form/form-widget.html.twig' %}

{% block left_content %}
    <div class="registration-content">
        <div class="main">
            <div class="title">
                <span>{{ 'app.page.client.registration.title'|trans }}</span>
            </div>

            <div class="form-container">
                {{ form_start(form) }}
                    <div class="input-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.lastname) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(form.firstname) }}
                            </div>
                        </div>

                        {{ form_row(form.email) }}
                        {{ form_row(form.picture) }}
                        {{ form_row(form.password) }}
                    </div>

                    <div class="button-wrapper">
                        <input type="submit" class="red" value="{{ 'app.page.client.registration.button'|trans }}" />
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock  %}

{% block right_content %}
    <img src="{{ asset('build/images/inscription.png') }}" />
{% endblock %}