{% extends "@Client/layout.html.twig" %}

{% block body %}
    <h1>Projects list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>MainPicture</th>
                <th>SubPicture</th>
                <th>Date</th>
                <th>Inprogress</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.mainPicture }}</td>
                <td>
                {% for subPicture in project.subPictures %}
                    {{ subPicture }}
                    <br>
                {% endfor %}
                </td>
                <td>{% if project.date %}{{ project.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if project.inProgress %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('project_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_new') }}">Create a new project</a>
        </li>
    </ul>
    {% if true %}
            <div class="card--holder swiper-container">
                <ul class="cards swiper-wrapper">
                    <li class="card swiper-slide">
                        <img class="card--image" src="https://picsum.photos/200/300" alt="">
                        <span class="card--desc">
                            <h2>TOTO</h2>
                            <p>a basic card</p>
                        </span>
                    </li>
                    <li class="card swiper-slide">
                        <img class="card--image" src="https://picsum.photos/200/300" alt="">
                        <span class="card--desc">
                            <h2>TOTO</h2>
                            <p>a basic card</p>
                        </span>
                    </li>
                    <li class="card swiper-slide">
                        <img class="card--image" src="https://picsum.photos/200/300" alt="">
                        <span class="card--desc">
                            <h2>TOTO</h2>
                            <p>a basic card</p>
                        </span>
                    </li>
                    <li class="card swiper-slide">
                        <img class="card--image" src="https://picsum.photos/200/300" alt="">
                        <span class="card--desc">
                            <h2>TOTO</h2>
                            <p>a basic card</p>
                        </span>
                    </li>
                    <li class="card swiper-slide">
                        <img class="card--image" src="https://picsum.photos/200/300" alt="">
                        <span class="card--desc">
                            <h2>TOTO</h2>
                            <p>a basic card</p>
                        </span>
                    </li>
                </ul>
            </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>YOUHOU JE SUIS UN ADMIN !!!</h1>
    {% endif %}
{% endblock %}
