{% extends "@Client/layout.html.twig" %}

{% block variables %}
    {{ app.session.set('headerBackground', 'white') }}
{% endblock %}

{% block content %}
    <div class="project-list-content">
        <div class="filter-wrapper">
            {% for category in categories %}
                <button type="button" class="filter {{ category.color }}" data-filter="{{ '.' ~ category.name|snake }}">{{ category.name }}</button>
            {% endfor %}

            <button type="button" class="filter blue active" data-filter="*">{{ 'app.page.client.project.list.all'|trans }}</button>

            <a href="{{ path('project_location') }}" class="filter blue location-button">{{ 'app.page.client.project.list.near_projects'|trans }}</a>
        </div>

        <div class="project-wrapper">
            <div class="grid row">
                <div class="grid-sizer"></div>
                {% for project in projects %}
                    <div class="grid-item col-sm-6 col-md-4 col-lg-3 {{ project.category.name|snake }}">
                        <div class="project {{ project.category.color }}">
                            <a href="{{ path('project_show', { 'id': project.id }) }}">
                                <div class="image-container">
                                    <div class="image-positioner">
                                        <img src="{{ asset(project.mainPicture ? 'uploads/project/picture/' ~ project.mainPicture : 'build/images/default_' ~ project.category.name|snake ~ '.jpg') }}" />
                                    </div>
                                </div>

                                <div class="text-content-wrapper">
                                    <div class="category-container">
                                        <span class="category">{{ project.category.name }}</span>
                                    </div>

                                    <div class="name-container">
                                        <span class="name">{{ project.name }}</span>
                                    </div>

                                    <div class="district-container">
                                        <span class="district">{{ project.district.name }}</span>
                                    </div>
                                </div>
                            </a>

                            <div class="color-line"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="popUpContainer">
        <div class="principaleButton3Btn"></div>
        <div>
            <div class="button3Btn firstButton3Btn list"></div>
            <div class="button3Btn secondButton3Btn list"></div>
            <div class="button3Btn lastButton3Btn list"></div>
        </div>
        <div id="js-cachedPopup2" class="popUpTuto">
            <span class="js-closePopup">&#10005;</span>
            <p class="titlePopUp">Bienvenue sur Tous Paris</p>
            <p>Découvrez ici les différents projets, en les filtrant par thématiques ou arrondissement. Sélectionnez le "+" pour : </p>
        </div>
    </div>

{% endblock %}

{% block addJavascripts %}
    <script src="https://unpkg.com/isotope-layout@3.0.5/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2" ></script>
    {% if message %}
        <script>
            setTimeout(function () {
                swal({
                    type: "{{ type }}",
                    title: '{{ title | raw }}',
                    text: "{{ message | raw }}"
                })
            }, 100);
        </script>
    {% endif %}
{% endblock %}