{% extends "@Client/layout.html.twig" %}

{% block content %}
    <div class="project-list-content">
        <div class="filter-wrapper">
            {% for category in categories %}
                <button type="button" class="filter {{ category.color }}" data-filter="{{ '.' ~ category.name|snake }}">{{ category.name }}</button>
            {% endfor %}

            <button type="button" class="filter blue active" data-filter="*">{{ 'app.page.client.project.list.all'|trans }}</button>
        </div>

        <div class="project-wrapper">
            <div class="grid row">
                <div class="grid-sizer"></div>
                {% for project in projects %}
                    <div class="grid-item col-sm-6 col-md-4 col-lg-3 {{ project.category.name|snake }}">
                        <div class="project {{ project.category.color }}">
                            <a href="{{ path('project_show', { 'id': project.id }) }}">
                                <div class="image-container">
                                    <div class="image-positioner">
                                        <img src="{{ asset('uploads/' ~ project.mainPicture|default('photo1.jpg') ) }}" />
                                    </div>
                                </div>

                                <div class="text-content-wrapper">
                                    <div class="category-container">
                                        <span class="category">{{ project.category.name }}</span>
                                    </div>

                                    <div class="name-container">
                                        <span class="name">{{ project.name }}</span>
                                    </div>

                                    <div class="district-container">
                                        <span class="district">{{ project.district.name }}</span>
                                    </div>
                                </div>
                            </a>

                            <div class="color-line"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block addJavascripts %}
        <script src="https://unpkg.com/isotope-layout@3.0.5/dist/isotope.pkgd.min.js"></script>
    {% endblock %}
{% endblock %}
