{% extends "@Client/layout.html.twig" %}

{% block variables %}
    {{ app.session.set('headerBackground', 'white') }}
{% endblock %}

{% block content %}
    <div class="project-show-content">
        <div class="project-container {{ project.category.color }}">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="carousel-container">
                        <div class="owl-carousel">
                            <img src="{{ asset('uploads/project/picture/' ~ project.mainPicture|default('photo1.jpg') ) }}" />
                            {% for picture in project.subPictures %}
                                <img src="{{ asset('uploads/project/picture/' ~ picture) }}" />
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="header-information">
                        <div class="category-container">
                            <span class="category">{{ project.category.name }}</span>
                        </div>

                        <div class="name-container">
                            <span class="name">{{ project.name }}</span>
                        </div>

                        <div class="district-container">
                            <span class="district">{{ project.district.name }}</span>
                        </div>
                    </div>

                    <div class="detail-information">
                        <div class="switch-text-wrapper">
                            <div class="switch-container active">
                                <span class="switch" data-target="description">{{ 'app.page.client.project.show.description'|trans }}</span>
                                <div class="color-line"></div>
                            </div>

                            <div class="switch-container">
                                <span class="switch" data-target="goal">{{ 'app.page.client.project.show.goal'|trans }}</span>
                                <div class="color-line"></div>
                            </div>
                        </div>

                        <div class="text-wrapper">
                            <p class="description active">
                                {{ project.description }}
                            </p>

                            <p class="goal">
                                {{ project.objectif }}
                            </p>
                        </div>
                    </div>

                    <div class="participant-day-left-wrapper">
                        <div class="participant">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <span class="number">{{ project.participants|length }}</span>
                                </div>

                                <div class="media-body media-middle">
                                    <span class="text">{{ 'app.page.client.project.show.participant'|trans }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="day-left">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <span class="number">{{ project.date|remaining_days ~ 'j' }}</span>
                                </div>

                                <div class="media-body media-middle">
                                    <span class="text">{{ 'app.page.client.project.show.day_left'|trans }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="button" class="{{ project.category.color }}" value="{{ 'app.page.client.project.show.buttons.participate'|trans }}" />
                            </div>

                            <div class="col-md-6">
                                <input type="button" class="{{ project.category.color }}" value="{{ 'app.page.client.project.show.buttons.finance'|trans }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="share-container">

        </div>
    </div>
{% endblock %}
