{% extends "@Client/template/two-columns.html.twig" %}

{% block left_content %}
    <div class="forgotten-password-content">
        <div class="main">
            <div class="title">
                <span>Mot de passe oublié ?</span>
            </div>

            <div class="form-container">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <div class="input-wrapper">
                        <div class="input-placeholder-effect">
                            <input type="text" id="email" name="_email" value="{{ last_username }}" placeholder="{{ 'app.page.client.user.inputs.email'|trans }}" />
                            <span>{{ 'app.page.client.user.inputs.email'|trans }}</span>
                            <div class="before-border"></div>
                        </div>
                    </div>
                    <div class="row button-wrapper">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="submit" class="blue" value="Réinitialiser" />
                        </div>
                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                </form>
            </div>
        </div>
    </div>
{% endblock  %}

{% block right_content %}
    <img src="{{ asset('build/images/connexion.png') }}" />
{% endblock %}