{% extends "@Public/layout.html.twig" %}

{% block body %}
    <h1>Index</h1>


    {% if message %}
        <div class="{{ type }}" role="alert">{{ message}}</div>
    {% endif %}

    <p class="important">
        Retrouvez votre compte.
    </p>
    <p>
        Veuillez saisir votre adresse e-mail pour rechercher votre compte.
    </p>

    {{ form_start(form ) }}
    {{ form_widget(form) }}
    <button type="submit">Rechercher</button>
    {{ form_end(form) }}

{% endblock %}