{% extends "@Admin/project/layout.html.twig" %}

{% block body %}
    <h1>Project edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_project_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="button" class="blockButton delete" id="delete_button">
                <p>Supprimer le projet</p>
                <span><img src="src/img/delete.png" alt=""></span>
            </button>
            <button style="display: none" id="delete_form"></button>
            {{ form_end(delete_form) }}
        </li>
        {% if project.isValidated != true %}
        <li>
            {{ form_start(validation_form) }}
            <button type="button" class="blockButton validate" id="validation_button">
                <p>Supprimer le projet</p>
                <span><img src="{{ asset('build/images/validate.5d38151e.png') }}" alt=""></span>
            </button>
            <button style="display: none" id="validation_form"></button>
            {{ form_end(validation_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}

{% block addJavascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2" ></script>
    <script>
        document.getElementById('delete_button').addEventListener('click', function () {
            swal({
                title: 'Êtes-vous sûr?',
                text: "Vous ne pourrez pas récupérer ce projet !",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Supprimer',
                cancelButtonText: 'Annuler'
            }).then((result) => {
                if (result.value) {
                    document.getElementById('delete_form').click();
                }
            })
        });
        {% if project.isValidated != true %}
        document.getElementById('delete_button').addEventListener('click', function () {
            swal({
                title: 'Êtes-vous sûr?',
                text: "Une fois accepté, ce projet sera visible publiquement",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Valider',
                cancelButtonText: 'Annuler'
            }).then((result) => {
                if (result.value) {
                    document.getElementById('delete_form').click();
                }
            })
        });
        {% endif %}
    </script>
{% endblock %}