{% extends "@Admin/project/layout.html.twig" %}

{% block body %}
    <h1>Projects list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Picture</th>
                <th>Date</th>
                <th>Inprogress</th>
                <th>Lng</th>
                <th>Lat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('admin_project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.mainPicture }}</td>
                <td>
                {% for subPicture in project.subPictures %}
                    {{ subpicture }}
                    <br>
                {% endfor %}
                </td>
                <td>{% if project.date %}{{ project.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if project.inProgress %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_project_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_project_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_project_new') }}">Create a new project</a>
        </li>
    </ul>
{% endblock %}
