{% extends "@Admin/project/layout.html.twig" %}

{% block body %}

    <div class="project-index">

        <div class="header"></div>

        <div class="content">

            <div class="wrapper-filters">

                <div class="type">

                    <div class="tous">
                        <p>Tous</p>
                    </div>
                    <div class="environment">Environnement</div>
                    <div class="solidaritie">Solidarité & citoyen</div>
                    <div class="mobility">Mobilité & transport</div>
                    <div class="urbanism">Urbanisme</div>
                    <div class="technology">Technologie</div>
                </div>

                <div class="button-search"></div>

                <div class="status">

                </div>

            </div>

        </div>
    </div>



    <h1>Projects list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>MainPicture</th>
            <th>SubPicture</th>
            <th>Date</th>
            <th>Inprogress</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('admin_project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.mainPicture }}</td>
                <td>
                    {% for subPicture in project.subPictures %}
                        {{ subPicture }}
                        <br>
                    {% endfor %}
                </td>
                <td>{% if project.date %}{{ project.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if project.inProgress %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_project_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_project_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <h1>YOUHOU JE SUIS UN ADMIN !!!</h1>
    {% endif %}
{% endblock %}
