{% extends "@Admin/user/layout.html.twig" %}
{% form_theme edit_form 'form/form-widget.html.twig' %}


{% block body %}

    <div class="edit">
        <div class="header">

            <div class="toList">
                <a href="{{ path('admin_user_index') }}">{{ 'app.page.admin.user.edit.tolist' | trans }}</a>
            </div>

            <div class="actions">
                <div class="actions-save">
                    <div class="media">
                        <div class="media-body">
                            <p class="text">{{ 'app.page.admin.user.edit.save' | trans }}</p>
                        </div>
                        <div class="media-right">
                            <input class="button-save" type="submit" value="Save"/>
                        </div>
                    </div>
                </div>
                <div class="actions-delete">
                    <div class="media">
                        <div class="media-body">
                            <p class="text">{{ 'app.page.admin.user.edit.delete' | trans }}</p>
                        </div>
                        <div class="media-right">
                            {{ form_start(delete_form) }}
                            <input class="button-delete" type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="left">
                <form class="form-edit">

                    <div class="row">
                        <div class="image-profile">
                            <button class="button-edit" type="button">{{ 'app.page.admin.user.edit.new_picture' | trans }}</button>
                        </div>
                    </div>

                    <div class="name">
                        <div class="row">
                            <div class="lastname">
                                {{ form_row(edit_form.firstname) }}
                            </div>

                            <div class="firstname">
                                {{ form_row(edit_form.lastname) }}
                            </div>
                        </div>
                    </div>

                    <div class="mail">
                        <div class="row">
                            {{ form_row(edit_form.email) }}
                        </div>
                    </div>

                    <div class="roles">
                        <div class="row">
                            {{ form_row(edit_form.roles) }}
                        </div>
                    </div>

                </form>
            </div>

            <div class="right">
                <div class="resume">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="project">
                                <div class="wrapper">
                                    <span class="nb-projects">{{ user.createdProjects | length }}</span>
                                    <span class="label-projects">{{ 'app.page.admin.user.edit.created' | trans }}</span>
                                </div>
                                <div class="blue rec-projects-color"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="project">
                                <div class="wrapper">
                                    <span class="nb-projects">{{ user.followedProjects | length }}</span>
                                    <span class="label-projects">{{ 'app.page.admin.user.edit.followed' | trans }}</span>
                                </div>
                                <div class="white rec-projects-color"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="project">
                                <div class="wrapper">
                                    <span class="nb-projects">{{ user.participatingProjects | length }}</span>
                                    <span class="label-projects">{{ 'app.page.admin.user.edit.participated' | trans }}</span>
                                </div>
                                <div class="red rec-projects-color"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}