{% extends "@Admin/user/layout.html.twig" %}

{% block body %}
    <h1>User creation</h1>

    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.profilePicture) }}
    {{ form_row(form.roles) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}