{% extends "@Admin/user/layout.html.twig" %}

{% block body %}

    <div class="header">

        <div class="toList">
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </div>

    </div>

    <div class="content">

        <div class="form-add-user">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>Créer un nouvel utilisateur</h1>
                    </div>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-offset-5 col-md-2">
                    <div class=" new-user">
                        <div class="input-wrapper">
                            {{ form_row(form.firstname) }}
                        </div>

                        <div class="input-wrapper">
                            {{ form_row(form.lastname) }}
                        </div>

                        <div class="input-wrapper">
                            {{ form_row(form.email) }}
                        </div>

                        <div class="input-wrapper">
                            {{ form_row(form.password) }}
                        </div>

                        <div class="input-wrapper">
                            {{ form_row(form.picture) }}
                        </div>

                        <div class="input-wrapper">
                            {{ form_row(form.roles) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form, {'render_rest': false}) }}

            <div class="button-validate">
                <input class="add-user" type="submit" value="Create" />
            </div>
            {{ form_widget(form) }}
        </div>
    </div>

{% endblock %}